.form-label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.header-label {
    color: var(--text-primary, #E5E5E6);

    font-size: 36px;
    font-family: 'Inter';
    font-weight: 600;
    line-height: 44px;
}

.label-description {
    color: var(--text-secondary, #828387);
    font-size: 14px;
    font-family: Inter;
    font-weight: 500;
    line-height: 22px;
}

.light-label {
    color: var(--text-primary, #E5E5E6);
    font-size: 14px;
    font-family: Inter;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: -0.128px;
}

.form-input, .form-buttons {
    width: 100%;
}

.password-labels {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.green-label {
    color: #41B870;
}