#root>.authorization {
    height: 100%;
    display: flex;
    flex-direction: row;
    background: #0C0C0D;
    padding: 32px;
}

.logo-section {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 200px;
}

.platform-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 17px;
    float: left;
}

.authorization-image {
    display: flex;
    justify-content: center;
}

.platform-header>span {
    color: var(--gray-300, #D0D5DD);
    font-size: 21px;
    font-family: 'Inter';
    font-weight: 500;
}

.authorization>.authorization-content {
    width: 35%;
    background-color: #171819;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
    padding: 0 48px;
    

    border-radius: 16px;
    background: var(--background-surface, #171819);

}

.form-label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.header-label {
    color: var(--text-primary, #E5E5E6);

    font-size: 36px;
    font-family: 'Inter';
    font-weight: 600;
    line-height: 44px;
}

.label-description {
    color: var(--text-secondary, #828387);
    font-size: 14px;
    font-family: Inter;
    font-weight: 500;
    line-height: 22px;
}

.light-label {
    color: var(--text-primary, #E5E5E6);
    font-size: 14px;
    font-family: Inter;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: -0.128px;
}

.form-input, .form-buttons {
    width: 100%;
}

.password-labels {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-email {
    color: #E5E5E6;
}

.verify-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.mb-3 > .input-line {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}

.mb-3 > .input-line:focus {
    box-shadow: none !important;
    border-color: #41B870;
}

