.name-input {
    display: flex;
    align-items: flex-start;
    gap: 12px;
}

.remember-pass {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 16px;
}

.terms-label {
    color: #828387;
}