/* GENERAL */
span,
p,
label,
h1,
h2,
h3,
h4,
h5,
h6,
.primary-text {
    font-family: 'Inter';
    color: var(--text-primary, #E5E5E6);
}

.devider {
    width: 100%;
    height: 1px;
    margin: 10px 0;
    background-color: #FFFFFF0A;
}

.transparent-background {
    background-color: transparent !important;
}

/* BUTTONS */

.show-pass:hover {
    cursor: pointer;
}

.button-medium-bold {
    font-family: 'Inter';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: -0.128px;
}

/* INPUTS */

input:focus {
    box-shadow: 0 0 0 0.15rem rgba(65, 184, 112, .25) !important;
    border-color: #41B870 !important;
}

/* LABELS */
/* Body */

.regular-body-1 {
    font-size: 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 450;
    line-height: 26px;
    letter-spacing: -0.176px;
}

.bold-body-2 {
    font-family: 'Inter';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.128px;
}

.medium-body-2{
    font-family: 'Inter';
    font-size: 14px;
    font-style: normal;
    font-weight: 550;
    line-height: 22px; /* 157.143% */
    letter-spacing: -0.128px;
}

/* Header */
.headline-h5 {
    color: #E5E5E6;
    font-family: 'Inter';
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 133.333% */
    letter-spacing: -0.464px;
}

.headline-h6 {
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.336px;
}

.subheadline-sh1-bold {
    font-family: 'Inter';
    font-size: 18px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.256px;
}

/* Regular */
.caption-regular {
    color: var(--text-secondary, #828387);
    font-family: 'Inter';
    font-size: 12px;
    font-style: normal;
    font-weight: 450;
    line-height: 18px;
    letter-spacing: 0.016px;
}

.caption-medium {
    font-size: 12px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.016px;
}

.overline-regular {
    color: var(--text-secondary, #828387);
    font-family: 'Inter';
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: 12px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
}

.green-label {
    color: #41B870;
    text-decoration: none;
}